.container {
    width: 100vw;
    background-color: rgb(230, 240, 240);
    padding: 64px 0 64px 0;
}

.header {
    text-align: center;
    color: #1b3066;
    font-weight: bold;
    font-size: 3rem;
}

.item-one-line {
    display: flex;
    flex-direction: row;
    padding: 0 150px 0 150px;
    margin-top: 30px;
    @media screen and (max-width: 1250px) {
        padding: 0 20px 0 20px;
    }
}

.item {
    flex: 1;
    margin: 0 10px 0 10px;
}

.image {
    width: 60px;
    height: 60px;
}

#list-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-product , #item-product-modal {
    width: 20%;
    margin: 20px;
}

.image-product {
    width: 100%;
    height: auto;
}

#modal-item, #modal-add {
    position: fixed;
    width: 500px;
    height: 500px;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    border: 1px solid black;
    background-color: white;
}

#close-button, #close-button-add {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-content {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-new-button {
    margin-left: 20px;
}

@media screen and (max-width: 850px) {


}


@media screen and (max-width: 550px) {
    .item-one-line {
        flex-direction: column;
    }
    .title {
        text-align: center;
    }
    .image {
        margin-left: calc(50vw - 50px);
    }
}



